CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_MODEL=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_VECTORIZE_INDEX=
CLOUDFLARE_VECTORIZE_DIMENSIONS=1024
JINA_EMBEDDING_BASE_URL=https://api.jina.ai/v1/embeddings
JINA_API_KEY=
JINA_EMBEDDING_MODEL=
SYSTEM_PROMPT_FILE=./prompts/system-custom.md

HTTP_ADDR=
VISION_MODEL=